<div class="dropdown ms-1 ms-lg-0" *ngIf="userLoggedIn">
    <a class="avatar avatar-sm p-0" href="#" id="profileDropdown" role="button" data-bs-auto-close="outside" data-bs-display="static" data-bs-toggle="dropdown" aria-expanded="false">
        <img class="avatar-img rounded-circle" src="assets/images/avatar/01.jpg" alt="avatar">
    </a>
    <ul class="dropdown-menu dropdown-animation dropdown-menu-end shadow pt-3" aria-labelledby="profileDropdown">
        <!-- Profile info -->
        <li class="px-3">
            <div class="d-flex align-items-center">
                <!-- Avatar -->
                <div class="avatar me-3">
                    <img class="avatar-img rounded-circle shadow" src="assets/images/avatar/01.jpg" alt="avatar">
                </div>
                <div>
                    <a class="h6" href="#">Sumit Maiti</a>
                    <p class="small m-0">example&#64;gmail.com</p>
                </div>
            </div>
            <hr>
        </li>
        <!-- Links -->
        <li><a class="dropdown-item" routerLink="/student/edit-profile" ><i class="bi bi-person fa-fw me-2"></i>Edit Profile</a></li>
        <li><a class="dropdown-item" routerLink="/student/settings" ><i class="bi bi-gear fa-fw me-2"></i>Account Settings</a></li>
        <li><a class="dropdown-item" routerLink="/student/help" ><i class="bi bi-info-circle fa-fw me-2"></i>Help</a></li>
        <li> <hr class="dropdown-divider"></li>
        <li><a class="dropdown-item bg-danger-soft-hover" routerLink="/" ><i class="bi bi-power fa-fw me-2"></i>Sign Out</a></li>
    </ul>
</div>