<main>
	
    <!-- =======================
    Page Banner START -->
    <section class="pt-0">
        <div class="container-fluid px-0">
            <div class="card bg-blue h-100px h-md-200px rounded-0" style="background:url(assets/images/pattern/04.png) no-repeat center center; background-size:cover;">
            </div>
        </div>
        <div class="container mt-n4">
            <div class="row">
                <div class="col-12">
                    <div class="card bg-transparent card-body pb-0 px-0 mt-2 mt-sm-0">
                        <div class="row d-sm-flex justify-sm-content-between mt-2 mt-md-0">
                            <!-- Avatar -->
                            <div class="col-auto">
                                <div class="avatar avatar-xxl position-relative mt-n3">
                                    <img class="avatar-img rounded-circle border border-white border-3 shadow" src="assets/images/avatar/09.jpg" alt="">
                                    <span class="badge text-bg-success rounded-pill position-absolute top-50 start-100 translate-middle mt-4 mt-md-5 ms-n3 px-md-3">Pro</span>
                                </div>
                            </div>
                            <!-- Profile info -->
                            <div class="col d-sm-flex justify-content-between align-items-center">
                                <div>
                                    <h1 class="my-1 fs-4">Lori Stevens</h1>
                                    <ul class="list-inline mb-0">
                                        <li class="list-inline-item me-3 mb-1 mb-sm-0">
                                            <span class="h6">255</span>
                                            <span class="text-body fw-light">points</span>
                                        </li>
                                        <li class="list-inline-item me-3 mb-1 mb-sm-0">
                                            <span class="h6">7</span>
                                            <span class="text-body fw-light">Completed courses</span>
                                        </li>
                                        <li class="list-inline-item me-3 mb-1 mb-sm-0">
                                            <span class="h6">52</span>
                                            <span class="text-body fw-light">Completed lessons</span>
                                        </li>
                                    </ul>
                                </div>
                                <!-- Button -->
                                <div class="mt-2 mt-sm-0">
                                    <a href="student-course-list.html" class="btn btn-outline-primary mb-0">View my courses</a>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <!-- Advanced filter responsive toggler START -->
                    <!-- Divider -->
                    <hr class="d-xl-none">
                    <div class="col-12 col-xl-3 d-flex justify-content-between align-items-center">
                        <a class="h6 mb-0 fw-bold d-xl-none" href="#">Menu</a>
                        <button class="btn btn-primary d-xl-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSidebar" aria-controls="offcanvasSidebar">
                            <i class="fas fa-sliders-h"></i>
                        </button>
                    </div>
                    <!-- Advanced filter responsive toggler END -->
                </div>
            </div>
        </div>
    </section>
    <!-- =======================
    Page Banner END -->
    
    <!-- =======================
    Page content START -->
    <section class="pt-0">
        <div class="container">
            <div class="row">
    
                <!-- Left sidebar START -->
                <div class="col-xl-3">
                    <!-- Responsive offcanvas body START -->
                    <app-student-sidebar></app-student-sidebar>
                    <!-- Responsive offcanvas body END -->
                </div>
                <!-- Left sidebar END -->
    
                <!-- Main content START -->
                <div class="col-xl-9">
    
                    <!-- Course item START -->
                    <div class="card border">
        
                            <div class="card-header border-bottom">
                                <!-- Course list START -->
                                <div class="row">
                                    <div class="col-12">
                                        <div class="card">
                                            <div class="row g-0">
                                                <div class="col-md-2">
                                                    <img src="assets/images/courses/4by3/01.jpg" class="rounded-2" alt="Card image">
                                                </div>
                                                <div class="col-md-10">
                                                    <div class="card-body">
                                                        <!-- Title -->
                                                        <h3 class="card-title"><a href="#">The Complete Digital Marketing Course - 12 Courses in 1</a></h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Course list END -->
                            </div>
    
                            <div class="card-body">
                                <!-- Step content START -->
                                <div class="card bg-transparent border rounded-3 mb-1">
                                    <div id="stepper" class="bs-stepper stepper-outline">
                                        <!-- Card header -->
                                        <div class="card-header bg-light border-bottom px-lg-5">
                                            <!-- Step Buttons START -->
                                            <div class="bs-stepper-header" role="tablist">
                                                <!-- Step 1 -->
                                                <div class="step active" data-target="#step-1">
                                                    <div class="d-grid text-center align-items-center">
                                                        <button type="button" class="btn btn-link step-trigger mb-0" role="tab" id="steppertrigger1" aria-controls="step-1" aria-selected="true">
                                                            <span class="bs-stepper-circle">1</span>
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="line"></div>
                        
                                                <!-- Step 2 -->
                                                <div class="step" data-target="#step-2">
                                                    <div class="d-grid text-center align-items-center">
                                                        <button type="button" class="btn btn-link step-trigger mb-0" role="tab" id="steppertrigger2" aria-controls="step-2" aria-selected="false">
                                                            <span class="bs-stepper-circle">2</span>
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="line"></div>
                        
                                                <!-- Step 3 -->
                                                <div class="step" data-target="#step-3">
                                                    <div class="d-grid text-center align-items-center">
                                                        <button type="button" class="btn btn-link step-trigger mb-0" role="tab" id="steppertrigger3" aria-controls="step-3" aria-selected="false">
                                                            <span class="bs-stepper-circle">3</span>
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="line"></div>
                        
                                                <!-- Step 4 -->
                                                <div class="step" data-target="#step-4">
                                                    <div class="d-grid text-center align-items-center">
                                                        <button type="button" class="btn btn-link step-trigger mb-0" role="tab" id="steppertrigger4" aria-controls="step-4" aria-selected="false">
                                                            <span class="bs-stepper-circle">4</span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Step Buttons END -->
                                        </div>
                        
                                        <!-- Card body START -->
                                        <div class="card-body">
    
                                            <h6 class="text-danger text-end mb-0"><i class="bi bi-clock-history me-2"></i>Time Left: 00:01:30</h6>
    
                                            <!-- Step content START -->
                                            <div class="bs-stepper-content">
                                                <form>
                        
                                                    <!-- Step 1 content START -->
                                                    <div id="step-1" role="tabpanel" class="content fade active dstepper-block" aria-labelledby="steppertrigger1">
                                                        <!-- Title -->
                                                        <h4>How do you protect your business against cyber-crime?</h4>
                        
                                                        <hr> <!-- Divider -->
                                                        <div class="vstack gap-2">
                                                            <!-- Feed ques item -->
                                                         <div>
                                                             <input type="radio" class="btn-check" name="ques" id="option1">
                                                             <label class="btn btn-outline-primary w-100" for="option1">We have cybersecurity insurance coverage</label>
                                                         </div>
                                                         <!-- Feed ques item -->
                                                         <div>
                                                             <input type="radio" class="btn-check" name="ques" id="option2">
                                                             <label class="btn btn-outline-primary w-100" for="option2">Our dedicated staff will protect us</label>
                                                         </div>
                                                         <!-- Feed ques item -->
                                                         <div>
                                                             <input type="radio" class="btn-check" name="ques" id="option3">
                                                             <label class="btn btn-outline-primary w-100" for="option3">We give regular training for best practices</label>
                                                         </div>
                                                         <!-- Feed ques item -->
                                                         <div>
                                                             <input type="radio" class="btn-check" name="ques" id="option4">
                                                             <label class="btn btn-outline-primary w-100" for="option4">Third-party vendor protection</label>
                                                         </div>
                                                        </div>
    
                                                        <!-- Step 1 button -->
                                                        <div class="d-flex justify-content-center mt-3">
                                                            <button type="button" class="btn btn-primary next-btn mb-0">Next question</button>
                                                        </div>
                                                 
                                                    </div>
                                                    <!-- Step 1 content END -->
                        
                                                    <!-- Step 2 content START -->
                                                    <div id="step-2" role="tabpanel" class="content fade dstepper-none" aria-labelledby="steppertrigger2">
                                                        <!-- Title -->
                                                        <h4>What is SEO?</h4>
                        
                                                        <hr> <!-- Divider -->
                                                        <div class="vstack gap-2">
                                                            <!-- Feed ques item -->
                                                         <div>
                                                             <input type="radio" class="btn-check" name="ques" id="option11">
                                                             <label class="btn btn-outline-primary w-100" for="option11">We have cybersecurity insurance coverage</label>
                                                         </div>
                                                         <!-- Feed ques item -->
                                                         <div>
                                                             <input type="radio" class="btn-check" name="ques" id="option22">
                                                             <label class="btn btn-outline-primary w-100" for="option22">Our dedicated staff will protect us</label>
                                                         </div>
                                                         <!-- Feed ques item -->
                                                         <div>
                                                             <input type="radio" class="btn-check" name="ques" id="option33">
                                                             <label class="btn btn-outline-primary w-100" for="option33">We give regular training for best practices</label>
                                                         </div>
                                                         <!-- Feed ques item -->
                                                         <div>
                                                             <input type="radio" class="btn-check" name="ques" id="option44">
                                                             <label class="btn btn-outline-primary w-100" for="option44">Third-party vendor protection</label>
                                                         </div>
                                                        </div>
                                                        
                                                        <!-- Next button -->
                                                        <div class="d-flex justify-content-center mt-3">
                                                            <button type="button" class="btn btn-primary next-btn mb-0">Next question</button>
                                                        </div>
                                                    </div>
                                                    <!-- Step 2 content END -->
                        
                                                    <!-- Step 3 content START -->
                                                    <div id="step-3" role="tabpanel" class="content fade dstepper-none" aria-labelledby="steppertrigger3">
                                                        <!-- Title -->
                                                        <h4>Who should join this course?</h4>
                        
                                                        <hr> <!-- Divider -->
                                                        <div class="vstack gap-2">
                                                            <!-- Feed ques item -->
                                                         <div>
                                                             <input type="radio" class="btn-check" name="ques" id="option111">
                                                             <label class="btn btn-outline-primary w-100" for="option111">We have cybersecurity insurance coverage</label>
                                                         </div>
                                                         <!-- Feed ques item -->
                                                         <div>
                                                             <input type="radio" class="btn-check" name="ques" id="option222">
                                                             <label class="btn btn-outline-primary w-100" for="option222">Our dedicated staff will protect us</label>
                                                         </div>
                                                         <!-- Feed ques item -->
                                                         <div>
                                                             <input type="radio" class="btn-check" name="ques" id="option333">
                                                             <label class="btn btn-outline-primary w-100" for="option333">We give regular training for best practices</label>
                                                         </div>
                                                         <!-- Feed ques item -->
                                                         <div>
                                                             <input type="radio" class="btn-check" name="ques" id="option444">
                                                             <label class="btn btn-outline-primary w-100" for="option444">Third-party vendor protection</label>
                                                         </div>
                                                        </div>
    
                                                        <!-- Next button -->
                                                        <div class="d-flex justify-content-center mt-3">
                                                            <button type="button" class="btn btn-primary next-btn mb-0">Next question</button>
                                                        </div>
                                                 
                                                    </div>
                                                    <!-- Step 3 content END -->
                        
                                                    <!-- Step 4 content START -->
                                                    <div id="step-4" role="tabpanel" class="content fade dstepper-none" aria-labelledby="steppertrigger4">
                                                        <!-- Title -->
                                                        <h4>What are the T&amp;C for this program?</h4>
                        
                                                        <hr> <!-- Divider -->
                                                        <div class="vstack gap-2">
                                                            <!-- Feed ques item -->
                                                         <div>
                                                             <input type="radio" class="btn-check" name="ques" id="option1111">
                                                             <label class="btn btn-outline-primary w-100" for="option1111">We have cybersecurity insurance coverage</label>
                                                         </div>
                                                         <!-- Feed ques item -->
                                                         <div>
                                                             <input type="radio" class="btn-check" name="ques" id="option2222">
                                                             <label class="btn btn-outline-primary w-100" for="option2222">Our dedicated staff will protect us</label>
                                                         </div>
                                                         <!-- Feed ques item -->
                                                         <div>
                                                             <input type="radio" class="btn-check" name="ques" id="option3333">
                                                             <label class="btn btn-outline-primary w-100" for="option3333">We give regular training for best practices</label>
                                                         </div>
                                                         <!-- Feed ques item -->
                                                         <div>
                                                             <input type="radio" class="btn-check" name="ques" id="option4444">
                                                             <label class="btn btn-outline-primary w-100" for="option4444">Third-party vendor protection</label>
                                                         </div>
                                                        </div>
    
                                                        <!-- Next button -->
                                                        <div class="d-flex justify-content-center mt-3">
                                                            <button type="button" class="btn btn-success next-btn mb-0">View result</button>
                                                        </div>
                                                        
                                                    </div>
                                                    <!-- Step 4 content END -->
                        
                                                </form>
                                            </div>
                                        </div>
                                        <!-- Card body END -->
                                    </div>
                                </div>		
                            </div>
                        
                    </div>
                    <!-- Course item END -->
    
                </div>
                <!-- Main content END -->
            </div> <!-- Row END -->
        </div>	
    </section>
    <!-- =======================
    Page content END -->
    
    </main>