<header class="navbar-light navbar-sticky header-static">
	<!-- Logo Nav START -->
	<nav class="navbar navbar-expand-xl">
		<div class="container-fluid px-3 px-xl-5">
			<!-- Logo START -->
			<a class="navbar-brand LMSBrand" routerLink="/">
			<h3>LMS<span>TEST</span></h3>	
			</a>
			<!-- Logo END -->

			<!-- Responsive navbar toggler -->
			<button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-animation">
					<span></span>
					<span></span>
					<span></span>
				</span>
			</button>

			<!-- Main navbar START -->
			<app-nav-main></app-nav-main>
			<!-- Main navbar END -->

			<!-- Profile START -->
			<app-nav-login-status></app-nav-login-status>
			<!-- Profile START -->
		</div>
	</nav>
	<!-- Logo Nav END -->
</header>